<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Add Book</title>
</head>

<body>
  <form action="{{ url_for('add') }}" method="POST">
    <label>Book Name</label>
    <input name="title" type="text" required />
    <label>Book Author</label>
    <input name="author" type="text" />
    <label>Rating</label>
    <input name="rating" max="10" min="0" step="0.1" type="number" />
    <button type="submit">Add Book</button>
  </form>
  <br>
  <a href="{{ url_for('home') }}">Return</a>
</body>

</html>