{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">Select Movie</h1>
  <p style="font-weight: bold; text-align:center; width: 100%">{{ num_results }} result(s)</p>
  {% for page in range(1, total_pages + 1) %}
  <p>
    <a href="#" style="margin-right: 5px;">{{ page }}</a>
  </p>
  {% endfor %}
</div>

<div style="text-align: center;">
  {% for movie in movie_results %}
  <img src="{{ poster_base_url }}{{ poster_size }}/{{ movie.poster_path }}" alt="{{ movie.title }}-movie-poster">
  <p style="margin-bottom: 25px">
    <a href="{{ url_for('select', id=movie.id) }}">{{ movie.title }} - {{ movie.release_date }}</a>
  </p>
  {% endfor %}
</div>


{% endblock %}